.video-container {
    position: relative;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.video {
    width: 100%;
}

.video-controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    width: 100%;
    padding: 0.5rem;
}

.video-container:hover .video-controls-container,
.video-container:focus-within .video-controls-container,
.video-container.paused .video-controls-container {
    opacity: 1;
}

.controls {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.controls-button {
    cursor: pointer;
    opacity: 0.85;
    transform: opacity 150ms ease-in-out;

    width: 1.4rem;
    aspect-ratio: 1;

    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position: center;

    border: 0;
}

.controls-button:hover {
    opacity: 1;
}

.timeline-container {
    display: flex;
    align-items: center;
    height: 0.5rem;
    cursor: pointer;
}

.timeline {
    position: relative;
    background-color: var(--clr-white);
    height: 0.3rem;
    width: 100%;
    border-radius: 0.2rem;
}

.timeline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position, 0.25) * 100%);
    background-color: var(--clr-dark);
}

.timeline .thumb-indicator {
    --scale: 0;
    position: absolute;
    top: -50%;
    left: calc(var(--progress-position, 0.25) * 100%);
    background-color: var(--clr-dark);
    transform: translateX(-50%) scale(var(--scale));
    transition: transform 100ms ease-in-out;
    height: 200%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.timeline-container:hover .thumb-indicator {
    --scale: 1;
}

.timeline-container:hover .timeline {
    height: 100%;
}
