.app {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.app-header,
.app-footer {
    text-align: center;
    background-color: var(--clr-dark);
    color: var(--clr-white);
}

.app-header {
    padding-block: 1rem;
    font-size: 1.5rem;
}

.app-footer {
    padding-block: 0.5rem;
}
